.user-img-btn{
    height: 40px;
    margin-top: -2px;
    img{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        object-fit: cover;
    }
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
    .gm-style-mtc{
        margin-top: 30px !important;
    }
    .gm-fullscreen-control{
        display: none !important;
    }
}

.app-footer{
    &.new-clip{
        .toolbar-md{
            clip-path: ellipse(110% 100% at 50% 100%) !important;
        }
        .Trip-det{
            margin-bottom: 0 !important;
        }
    }
    &.old-clip{
        .toolbar-md{
            clip-path: ellipse(62% 100% at 50% 100%) !important;
        }
    }
}

.Trip-det{
    min-height: 45px;
    margin-bottom: 10px;
    ion-fab[top]{
        top: 8px;
    }
}

.trip-distention{
    width: 90%;
    margin: 0 auto;
    margin-top: -10px;
    position: relative;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .35s ease-in-out; /* Safari 3.1 to 6.0 */
    transition: all .35s ease-in-out;
    .item-md{
        background-color: transparent;
        ion-icon{
            font-size: 1.8rem;
            min-height: 1.8rem;
            &[item-start]{
                + .item-inner{
                    margin-left: 7px;
                    border-bottom: 1px solid rgba(color($colors,secondary),.5);
                }
            }
        }
        &:last-of-type{
            ion-icon{
                margin-left: 50px;
            }
            .item-inner{
                border-bottom: 0 !important;
            }
        }
        &.item-input.input-has-focus{
            .item-inner{
                box-shadow: none !important;
            }
        }
        
    }
    
    .line{
        position: absolute;
        top: 26px;
        left: 27px;
        width: 1px;
        height: 40px;
        border-right: 1px dashed  rgba(color($colors,secondary),.5);
    }
    .label-md{
        font-size: 1.35rem;
        color: darken(color($colors,grayColor),52%);
    }
    .text-input-md{
        margin-left: 0 !important;
    }
}

.show-distention{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .35s ease-in-out; /* Safari 3.1 to 6.0 */
    transition: all .35s ease-in-out;
}

.trip-detail{
    padding-top: 50px;
    padding-bottom: 0;
    h4{
        margin-top: 0;
        font-size: 1.25rem;
        font-weight: normal;
        @extend %overflow;
        color: rgba(color($colors,light),.9);
    }
    .item-md{
        background-color: transparent;
    }
    .label-md{
        font-weight: 500;
        text-transform: capitalize;
    }
    .no-person{
        width: 30px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        padding: 0 2px;
        border-radius: 50%;
        text-align: center;
        background-color: color($colors,secondary);
    }
    h3{
        font-size: 1.65rem;
        margin-bottom: 1.7rem;
        margin-top: 1.2rem;
        @extend %overflow;
    }
    .mid-col{
        border-left: 1px solid color($colors,light);
        border-right: 1px solid color($colors,light);
    }
}

.accept-trip{
    p{
        color: color($colors,secondary);
        margin: 20px 0 5px 0 !important;
        @extend %overflow;
    }
    .left-right-fab{
        top: -22px !important;
    }
    .message-fab{
        left: 70px !important;
    }
    .delete-fab{
        top: -31.5px !important;
    }
    .phone-fab{
        right: 70px !important;
    }
}