<ion-header class="app-header">
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons style="order:1;" start>
      <button class="user-img-btn" [navPush]="'Profile'" ion-button icon-only>
        <img src="assets/img/user.png">
      </button>
    </ion-buttons>
    <ion-title text-capitalize>taxi</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="'Setting'">
        <ion-icon name="md-settings" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="shadow"></div>

  <div class="trip-distention" [ngClass]="{'show-distention': !showDetails}">

    <ion-item no-lines>
      <ion-icon name="md-disc" color="secondary" item-start></ion-icon>
      Sicap Liberté 6
    </ion-item>
    <ion-item no-lines>
      <ion-icon name="md-pin" color="secondary" item-start></ion-icon>
      Vos Clients
    </ion-item>
    <ion-item no-lines class="clients">
        <ion-icon name="md-person" color="secondary" item-start></ion-icon>
        <ion-icon name="md-person" color="secondary" item-start></ion-icon>
        <ion-icon name="md-person" color="secondary" item-start></ion-icon>
    </ion-item>
    <div class="line"></div>
  </div>
</ion-header>


<ion-content class="app-content">
  <div #map id="map" data-tap-disabled="true"></div>
</ion-content>


<ion-footer class="app-footer" [ngClass]="{'new-clip': showDetails , 'old-clip': global.accept}">
  <ion-toolbar color="primary">

    <div class="Trip-det" *ngIf="!global.accept">
        <ion-fab top center *ngIf="!showDetails">
          <button (click)="activeTrip()" ion-fab color="secondary">
            <ion-icon name="md-disc" color="light"></ion-icon>
          </button>
        </ion-fab>
        <ion-fab top center *ngIf="showDetails">
          <button (click)="presentDestinationModal()" ion-fab color="secondary">
            <ion-icon name="md-checkmark" color="light"></ion-icon>
          </button>
        </ion-fab>
        <div *ngIf="showDetails">
          <ion-grid class="trip-detail">
            <ion-row>
              <ion-col col-6>
                <h4>Number of people</h4>
                <ion-item no-padding no-lines>
                  <ion-icon name="md-people" color="secondary" item-start></ion-icon>
                  <div class="no-person">2</div>
                </ion-item>
              </ion-col>
              <ion-col style="direction: rtl" col-6>
                <h4>Payment method</h4>
                <ion-item no-padding no-lines>
                  <ion-icon name="md-card" color="secondary" item-start></ion-icon>
                  cash
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row text-center>
              <ion-col col-4>
                <h4 no-margin>Ride Distance</h4>
                <h3>3.3KM</h3>
              </ion-col>
              <ion-col class="mid-col" col-4>
                <h4 no-margin>Time Taken</h4>
                <h3>10min</h3>
              </ion-col>
              <ion-col col-4>
                <h4 no-margin>Total Bill</h4>
                <h3>$30</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    </div>

    
    <div *ngIf="global.accept" class="accept-trip" text-center>
      <p>10 min to arrive</p>
    </div>
    
  </ion-toolbar>

  <div class="accept-trip" *ngIf="global.accept">
    <ion-fab class="message-fab left-right-fab" top left mini edge>
      <button (click)="presentMessageModal()" color="dark" ion-fab mini>
        <ion-icon name="md-text" color="secondary"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab class="delete-fab" top center edge>
      <button (click)="cancelAlert()" color="secondary" ion-fab>
        <ion-icon name="md-trash" color="light"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab class="phone-fab left-right-fab" top right mini edge>
      <button color="dark" ion-fab mini>
        <ion-icon name="md-call" color="secondary"></ion-icon>
      </button>
    </ion-fab>

    <div class="border"></div>
  </div>

</ion-footer>