<ion-content class="login-content">
  <ion-icon name= md-arrow-back color = "light" class= "back-btn" (click) = "backButtonClick()"></ion-icon>
  <div class="login-form">

      <!-- téléphone champ de texte-->
      <ion-list>
        <ion-item no-lines>
          <ion-icon name="md-call" color="black" class="circle-icon" item-start></ion-icon> 
          <ion-input type="tel" placeholder="+221" id="phone"></ion-input>
          <ion-input type="tel" placeholder="Téléphone" class="phoneInput"></ion-input>
        </ion-item>
      </ion-list>
      <ion-buttons bottom center>
        <button color="secondary" [navPush]="'Home'" ion-button> Réinitaliser</button>
      </ion-buttons>
      <p class="forgetBtn" [navPush]="'Register'" text-center> Créer Un Nouveau Compte </p>
  </div>
</ion-content>


  