<ion-header class="app-header">
  <ion-navbar color="primary"></ion-navbar>
  <div class="shadow"></div>
</ion-header>


<ion-content class="app-content checkout-content" padding>
  <div class="check-data">
    <ion-item no-padding no-lines>
      <ion-label text-uppercase stacked>Enter promo code here</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>

  <div class="more-check-data" padding>
    <ion-label text-uppercase no-margin>We Accept</ion-label>

    <ion-grid class="payment-method" text-center no-padding>
      <ion-row>
        <ion-col col-4 (click)="activeSelect(1)">
          <img src="assets/img/master.png" [ngClass]="{'activeMethod': selectImg==1}" />
        </ion-col>
        <ion-col col-4 (click)="activeSelect(2)">
          <img src="assets/img/visa.png" [ngClass]="{'activeMethod': selectImg==2}" />
        </ion-col>
        <ion-col col-4 (click)="activeSelect(3)">
          <img src="assets/img/paypal.png" [ngClass]="{'activeMethod': selectImg==3}" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item no-padding no-lines>
      <ion-label text-uppercase stacked>Credit card number</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item no-padding no-lines>
      <ion-label text-uppercase stacked>Expiration Date</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item no-padding no-lines>
      <ion-label text-uppercase stacked>cvv code</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>

  <div class="total-price more-check-data">
    <ion-item no-lines>
      Total
      <p item-end>30$</p>
    </ion-item>
  </div>

  <ion-fab bottom center>
    <button [navPush]="'Home'" ion-fab color="secondary">
      <ion-icon name="md-checkmark" color="light"></ion-icon>
    </button>
  </ion-fab>
</ion-content>